<style>
.thumbnail img{
	width:100%
}

.thumbnail{
	padding:0;
}

.thumbnail .caption {
	padding:9px;
}
body{
	background-color:#232323;
	}</style>
<%- include("../partials/header") %>


<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">
				Picto-View Hub</p>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%=foundComp.image%>">
				<div class="caption">
					<h4><a><%=foundComp.title%></a></h4>
					
					<p>
						Shot by <strong><a href="/users/<%=foundComp.author.id%>"><%= foundComp.author.username %></a></strong>
					</p>
					<p><%= foundComp.description %></p>
					<%if(currentUser && foundComp.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
					<a class="btn btn-xs btn-warning" href="/archive/<%=foundComp._id%>/edit" >
						Edit
					</a>
					<form  style="display:inline"action="/archive/<%=foundComp._id%>?_method=DELETE" method="POST">
						<button class="btn btn-xs btn-danger">
							Delete
						</button>
					</form>
					<%}%>
				</div>
			
		</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/archive/<%= foundComp._id %>/comments/new">Add new comment</a>
				</div>
				<hr>
				<% foundComp.comments.forEach(function(comment){%>
				<div class="row">
					<div class="col-md-12">
						<strong><%=comment.author.username %></strong>
						<span class="pull-right">10 days ago</span>
					<p>
	 						<%=comment.text%>
					</p>
						<%if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
						<a class="btn btn-xs btn-warning" href="/archive/<%= foundComp._id %>/comments/<%=comment._id%>/edit">
							Edit
						</a>
						<form style="display:inline" action="/archive/<%= foundComp._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
							<input type="submit" class="btn btn-xs btn-danger" value="Delete">
							
						</form>
						<%}%>
	
					</div>
				</div>
	
<%})%>

			</div>
	</div>
</div>

   

<%- include("../partials/footer") %>
