<%- include("../partials/header") %>
<style>
body{
background-image:url(https://wallpapercart.com/wp-content/uploads/2019/08/Nature-Photos.jpg);
background-size:cover;
	}
	h1{
		text-align:center;
		color:white;
	}
	#gallery{
		padding-bottom:200px;
	}
	h4{
		color:white;
		padding-left:20px;
		margin-left:20px;
		padding-bottom:30px;
	}
	.thumbnail img{
		width:100%;
		height:200px;
	}	
	
</style>
<h1>
	Archive Gallery
</h1>

<h4>
	<a href="archive/new" class="btn btn-success btn-md ">upload images to archive</a>
</h4>

		 <section id="gallery">
	<div class="container">
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
	<%  rImgs.forEach(function(rImg) {%>
	<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					
		
						<img src="<%=rImg.image%>">
					<div class="caption">
						<p><a class="btn btn-xs btn-primary" href="archive/<%=rImg._id%>">More Info</a></p>
						<p>
							<!--Shot by <%=rImg.author.username%>--><h3><%=rImg.title%></h3>
						</p>
					</div>
	
	
		</div>
		</div>
	<% }) %>
		

		</div>
			 </div>
</section>
<%- include("../partials/footer") %>